.box{
    border-style: groove;
    padding: 20px 10px 100% 10px;
}

.row{
   
    padding : 15px 15px;
   
}
.event{
    background-color: rgba(119, 163, 202, 0.444);

}
.a{
    padding: 2px 2px;
    background-color: aliceblue;
}
.col-sm-2{
    text-align: center;
    border: 1px;
    border-color: black;
    padding: 25px 10px;
  margin: 8px;
 
    border-style:groove;
    content: normal;
    height: 250px;
    width: 250px;
    
}

